# --- SERVER CONFIG ---
PORT=4560
NODE_ENV=local # Values: 'local' | 'vps'
BASE_PATH=/mapai
DIPLOIA_HOSTNAMES=diploia.fullscreencode.com

# --- DATABASE ---
# URI to connect to MongoDB on VPS or local
MONGODB_URI=mongodb://149.50.139.152:27017/diploia

# --- SECURITY ---
JWT_SECRET=una_clave_larga_y_aleatoria_2026
FSCAUTH_VERIFY_URL=http://localhost:3027/fscauth/api/auth/verify
ADMIN_PASSWORD=rty456fgh
ADMIN_PASS=rty456fgh

# --- DEPLOYMENT (Automatización) ---
VPS_HOST=149.50.139.152
VPS_PORT=5752
VPS_USER=root
GITHUB_REPO=jpupper/diploia
